// for aboutData
.sectionCollapse {
  display: flex;
  gap: 1.5rem;
  flex-direction: column; 
  margin: 0 5.4rem 2.2rem 5.4rem;

  @media (max-width: 768px) {
    margin: 0 0 1.1rem 0;
    gap: 1.1rem;
  }

  // on row for desktop
  &.sectionCollapse--housing {
    flex-direction: row; 
    margin: 0 0 2.2rem 0;
    gap: 3.8rem;

    // on column for mobile
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.1rem;
    }
  }

  &__article {
    border-radius: 0.3rem;
    background-color: white;
    transition: background-color 0.3s ease-in-out;

    &.open {
      background-color: #f6f6f6;
    }

    // to share width on desktop 
    &.article--housing {
      width: 50%;

      // to take all width
      @media (max-width:768px) {
        width: 100%;
      }
    }

    &__containerTitle {
      display: flex;
      background-color: var(--primary-color);
      justify-content: space-between;
      border-radius: 0.3rem;
      padding: 0.4rem 1rem 0.4rem 0.8rem;
      align-items: center;

      h2 {
        color: white;

        @media (max-width: 768px) {
          font-size: 0.8rem;
        }
      }

      img {
        cursor: pointer;
        transform: rotate(270deg);
        transition: transform 0.3s;
        height: 1.4rem;

        &.openArrow {
          transform: rotate(90deg);
        }

        @media (max-width: 768px) {
          height: 1rem;
        }
      }
    }

    &__description {
      overflow: hidden;
      transform-origin: top;
      padding: 0 1rem;
      max-height: 0;
      transform: scaleY(0);
      transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out,  padding 0.3s ease-in-out;

      &.openText {
        max-height: 1000px;
        transform: scaleY(1);
        padding: 1rem;
      }

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }
  }
}
